body {
  height: 100vh;
  display: flex;
  background: #191919;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  flex-direction: column;
}
header {
  display: flex;
  background-color: #070707;
  height: 3rem;
  width: 100vw;
  padding: 1rem;
  box-shadow: -5px 4px 2px -2px #0a0a0a;
  z-index: 10;
}
.btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  margin: 0 1rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.user-input {
}
.user-choice {
}
.aside-section {
  border-bottom: solid 2px #0a0a0a;
}
#name {
  display: flex;
}
#header-options {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}
#loot {
  color: gold;
  margin: 0.5rem;
}
#sidebar {
  width: 17rem;
  background-color: #3c3c3c;
  color: white;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 1;
  height: 100vh;
  box-shadow: 0 0 4px 1px #0a0a0a;
}
#sort {
  display: flex;
  align-items: center;
}
#sort-dropdown {
  display: none;
}
#create-quest {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
}
#amount-quest {
  width: 2rem;
}
#what-quest {
  width: 4rem;
}
